page-range {

  h2{
    color: red;
    font-size:20px;
    margin-bottom: 20%;

  }
  .full {
    height: 100%;
  }

  .box{
    margin:auto;
  }
  .rack{
    background: url("../../assets/images/rack.jpeg") no-repeat center;

  }
  .product{

    background: url("../../assets/images/box.jpeg") no-repeat center;
  }
}
