page-range {

  .full {
    height: 100%;
  }

  .rack {
    background: url("") no-repeat;
    background-size: cover;
    border: solid 4px grey;


  }

  .product {

    background: url("") no-repeat ;
    background-size: cover;
    border: solid 4px grey;
  }
}
