page-range {

  .full {
    height: 100%;
  }

  .rack {
    background: url("../../assets/images/pexels-photo-132907.jpeg") no-repeat;
    background-size: cover;
    border: solid 4px grey;


  }

  .product {

    background: url("../../assets/images/tea-box-package.jpg") no-repeat ;
    background-size: cover;
    border: solid 4px grey;
  }
}
