page-page1 {
  background-image: url("http://www.planwallpaper.com/static/images/avzxywebcd-abstract-wallpaper-5.jpg");
  background-size: cover;
  .quantity{
    font-size: 35px;
    color: #0c60ee;
  }
}
